mat-card {
  max-width: 100%;
  margin: 2em auto;
  text-align: center;
}


mat-toolbar{
  max-width: 100%;
}
mat-form-field {
  display: block;
}

mat-toolbar div .right-aligned-menu {
  max-width: 50% !important;
  text-align: right !important;
}

mat-toolbar div .left-aligned-menu {
  max-width: 50% !important;
  text-align: left !important;
  margin-right: 64% !important;
}