mat-card {
  max-width: 100%;
  margin: 2em auto;
  text-align: center;
}


mat-toolbar{
  max-width: 100%;
}
mat-form-field {
  display: block;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    float: right;
    width: 100%;
}