
<nav class="nav-bar">
   <a routerLink="/create-center" routerLinkActive="active">Create Center</a>
   <a routerLink="/update-center" routerLinkActive="active">Update Center</a>
   <a routerLink="/centers-list" routerLinkActive="active">List Centers</a>
   <a routerLink="/slot-list" routerLinkActive="active">Slot List</a>
   <a routerLink="/create-slot" routerLinkActive="active">Create Slot</a>
   <a routerLink="/create-schedule" routerLinkActive="active">Create Schedule</a>
   <a routerLink="/schedule-list" routerLinkActive="active">Schedule List</a>
   <a routerLink="/bookings-list" routerLinkActive="active">User_Bookings</a>
   <a routerLink="/create-booking" routerLinkActive="active">Create Booking</a>

</nav>

<router-outlet></router-outlet>